<!DOCTYPE html>
<html>
	<body>
		<div align="center">
			<h1>Search Book</h1>
			<form th:object="${book}" th:action="@{/search}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>BookCode:</td>
					<td>
						<input type="text" th:field="*{bookcode}" th:placeholder="${session.bookcode}"/>
					</td>
				</tr>
				<tr>
					<td>Title:</td>
					<td>
						<input type="text" th:field="*{title}" th:placeholder="${session.title}"/>
					</td>
				</tr>
				<tr>
					<td>Author:</td>
					<td>
						<input type="text" th:field="*{author}" th:placeholder="${session.author}"/>
					</td>
				</tr>
				<tr>
					<td>Category:</td>
					<td>
						<input type="text" th:field="*{category}" th:placeholder="${session.category}"/>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<input type="submit" value="Search" />
					</td>
				</tr>
			</table>
			</form>
		</div>
	</body>
</html>